.container {
  /* background-image: url("../../assets/bodhisava.jpg"); */
  /* color: #fafafa; */
  width: 100%;
  /* height: 100%; */
  /* margin: 1em; */
  /* background-color: coral; */
}

.topmenu {
  background-color: #ff3333;
  text-align: center;
  padding: 10px;
  font-size: medium;
  color: #fff;
}

.bottommenu {
  background-color: #eee;
  text-align: center;
  padding: 5px;
  font-size: x-small;
  color: #888;
}

.right_column {
  /* background-color: #ffeecc; */
  /* height: 500px; */
  background-image: url(https://d1942s60hw1xi2.cloudfront.net/images/banner/20170807-bg.png);
  background-repeat: repeat;
  background-position: center top;
  background-size: initial;
  margin-top: 0px!important;

  /* background-image: linear-gradient(0deg,#2dcca7,#3e91cc,#cc6aa5);
  background-size: 100% 600%; */

  /* min-height: 100vh; */
  /* min-height: 636px; */
  /* height: 100%; */
}

.picture {
  /* background-color: #00e6e6; */

  /* box-shadow: 0px 0px 5px #aaa; */
  background-image: linear-gradient(0deg,#2dcca7,#3e91cc,#cc6aa5);
  background-size: 100% 600%;
}
/* Set img inside header to grow and shrink depends on parent size */
.picture img {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;

}

.shaker {
  margin-bottom: 10px;
  text-align: center;
}

.intro {
  margin: 10px;
  margin-bottom: 50px;
  font-size: large;
  line-height: 1.5;
  color: #555;
  font-family: '標楷體','Noto Sans TC', sans-serif;
  text-align: center;

  /* font-family: "微软雅黑","黑体",serif; */
  /* font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif; */
  /* font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif; */
}

.poem-card {
  max-width: 350px;
  background-color: #ffeecc;
  margin: 10px;
}

.poem-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 250px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
}

mat-card-actions {
  text-align: center;
}

.puff-in-center {
	-webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.tilt-in-top-1 {
	-webkit-animation: tilt-in-top-1 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: tilt-in-top-1 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.color-change-2x {
	-webkit-animation: color-change-4x 8s linear 1.5s infinite alternate both;
	        animation: color-change-4x 8s linear 1.5s infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #99bbff;
  }
  100% {
    background: #0055ff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #0055ff;
  }
  100% {
    background: #ff9933;
  }
}

.flip-in-hor-top {
	-webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
	        animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
            transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
            transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-left-column {
	-webkit-animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;
	        animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;
}

.bg-pan-bottom {
	-webkit-animation: bg-pan-bottom 30s both;
	        animation: bg-pan-bottom 30s both;
}

@-webkit-keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
