.container {
  /* background-image: url("../../assets/bodhisava.jpg");
  color: #fafafa; */
  width: 100%;
  /* margin: 1em; */
}

/* Set img inside header to grow and shrink depends on parent size */
.header img {
  height: 100%;
  width: 100%;
}

.intro {
  margin: 10px;
}

.poem-card {
  max-width: 400px;
  background-color: #ffdd99;
}

.poem-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 250px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
}

mat-card-actions {
  text-align: center;
}

.show-poem-card {
  margin-bottom: 2em;
}
